.caja
{
    width: fit-content;
    height:fit-content;
    margin: 0 auto;
    border:1px solid white;
    background-color: rgb(230 253 255/ 0.4);
    border-radius: 20px;
    padding:20px;
    gap: 20px;
    text-align: center;
    display: flex;
}
.index__caja {
  max-width: 600px;
  width: 90%;
  margin: 60px auto;
  border: 1px solid white;
  background-color: rgba(146, 152, 153, 0.4);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  gap: 20px;
  text-align: center;   
}
.columna
{
    padding: 20px;
    border-radius: 10px;
     background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    text-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

/*Proporciones de las columnas*/
.columna-01{
    flex: 7;
}

.columna-02{
    flex: 3;
}

input
{
 border: none;
 border-radius: 10px;;
 padding: 5px;
 margin: 5px;
 outline: white;
}
#video-fondo {
    position: fixed;
    top: 0;
    left:0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.texto{
    color: white;
    text-align: justify;
    font-family: 'Segoe UI',sans-serif;
    
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.Body__button
{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230 253 255/ 0.4);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}
.Body__button:hover{
    background-color: #FFCA0A;
}
.caja__columna__mapa{
    width: 600px;
    height: 450px;
    border: none;
    border-radius: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.formulario__titulo {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.formulario__grupo {
  display: flex;
  flex-direction: column;
}

.formulario__label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.formulario__campo {
  width: 100%;
}

.formulario__input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .caja {
    flex-direction: column;
  }
  
  .columna {
    width: 100%;
  }
}
